body{
    background: linear-gradient(90deg, #1b0f24, #3f2455);
    color: whitesmoke;
}
.inputgoal{
    background-color: black;
    color: whitesmoke;
    display: block;
    width: 50%;
    text-align: center;
}
.info{
    width: 70%;
    margin: auto;
    text-align: center;
}
h1{
    font-size: 6rem;
    margin: 20px;
}
.dice-container{
    display: flex;
    text-align: center;
    margin: 0px 50px;
}
img{
    width: 320px;
}
.pointstotal{
    display: inline-flex;
    margin: 0px 10px;
    text-align: center;
    gap: 10px;
}
.pointsround{
    display: inline-flex;
    margin: 0px 10px;
    text-align:center;
    gap: 10px;
}